<ion-menu [content]="content" class="side-menu">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item (click)="goToPage('PagesPagesListCarPage')">
        <ion-icon name="car"></ion-icon>
        Carros
      </button>
      <button ion-item (click)="goToPage(friendsPage)">
        <ion-icon name="card"></ion-icon>
        Formas de pagamento
      </button>
      <button ion-item (click)="goToPage('PagesEditCheckingAccountPage')">
        <ion-icon ios="ios-browsers" md="md-browsers"></ion-icon>
        Conta
      </button>
      <button ion-item (click)="logout()">
        <ion-icon ios="ios-log-out" md="md-log-out"></ion-icon>
        Sair
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav id="nav" #content [root]="rootPage"></ion-nav>

<ion-content padding>

  <ion-list>
    <ion-item *ngIf="user.is_customer != 1">
      <ion-label>Disponível para oportunidades?</ion-label>
      <ion-toggle [(ngModel)]="is_active" (ionChange)="handleActivationButton()" ></ion-toggle>
    </ion-item>
  </ion-list>

  <div class="service-box">
    <button *ngIf="handleServiceRequestButton()" (click)="sendServiceRequest()" class="btn btn-service">Solicitar
      serviço</button>
  </div>
  <div *ngIf="waitForService" class="service-box">
    <ion-spinner name="dots"></ion-spinner>
    <p [ngStyle]="{'margin': '0px'}">Buscando lavadores disponíveis</p>
  </div>
  <div *ngIf="serviceFound" class="service-box">
    <p>Sua solicitação foi aceita!</p>
    <p>
      <ion-icon ios="ios-person" md="md-person"> {{serviceResponse.first_name}} {{serviceResponse.last_name}}
      </ion-icon>
    </p>
    <p>
      <ion-icon ios="ios-call" md="md-call"> {{serviceResponse.phone}} </ion-icon>
    </p>
  </div>

</ion-content>