<!--
  Generated template for the PagesCreateCarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content class="bg-ligth h-100">

  <ion-header>
    <button ion-button clear round class="bnt-icon btn-header" (click)="goToRootPage()">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
    <ion-title class="title-primary mt-3 text-center">
      Cadastre seu carro!
    </ion-title>
  </ion-header>

  <div padding>
    <div class="text-center p-2 mt-3">
      <ion-item class="input-item-filled mt-3">
        <ion-input type="text" placeholder="Modelo" name="model" [(ngModel)]="car.model" maxlength="45"></ion-input>
      </ion-item>
      <ion-item class="input-item-filled">
        <ion-label>Ano</ion-label>
        <ion-datetime displayFormat="YYYY" [(ngModel)]="car.year" name="year"></ion-datetime>
      </ion-item>
      <ion-item class="input-item-filled">
        <ion-input type="text" placeholder="Placa" name="plate" [(ngModel)]="car.plate"
          onkeyup="this.value = this.value.toUpperCase();" [brmasker]="{mask:'000-0000', len:8}"></ion-input>
      </ion-item>
    </div>
    <button ion-button class="btn-secondary btn w-100 mt-3" (click)="createCar()">Cadastrar</button>
  </div>

</ion-content>