<ion-header class="bg-ligth">
    <ion-navbar>
        <ion-title>
            Criar conta
        </ion-title>
        <ion-buttons left>
            <button ion-button icon-only (click)="goToRootPage('HomePage')">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="bg-ligth h-100">

    <div class="text-center p-5">
        <ion-item class="input-item-filled mt-3">
            <ion-input type="text" placeholder="Nome" name="first_name" [(ngModel)]="person.first_name" maxlength="15">
            </ion-input>
        </ion-item>

        <ion-item class="input-item-filled">
            <ion-input type="text" placeholder="Sobrenome" name="last_name" [(ngModel)]="person.last_name"
                maxlength="15">
            </ion-input>
        </ion-item>

        <ion-item class="input-item-filled">
            <ion-input type="email" placeholder="E-mail" name="email" [(ngModel)]="person.email"></ion-input>
        </ion-item>

        <ion-item class="input-item-filled">
            <ion-datetime placeholder="Data de nascimento" displayFormat="DD/MM/YYYY" max="2001" doneText="Ok" cancelText="Cancelar"
                monthNames="janeiro, fevereiro, março, abril, maio, junho, julho, agosto, setembro, outubro,novembro, dezembro"
                monthShortNames="jan, fev, mar,mai,abri, jun, jul, ago, set, out, nov, dez"
                dayNames="domingo, segunda-feira, ter\u00e7a-feira, quarta-feira, quinta-feira, sexta-feira, sabado"
                dayShortNames="dom, seg, ter, qua, qui, sex, sab" [(ngModel)]="person.birth_date" name="birth_date">
            </ion-datetime>
        </ion-item>

        <ion-item class="input-item-filled">
            <ion-input type="text" placeholder="Contato" [(ngModel)]="person.phone" name="phone"
                [brmasker]="{phone: true}"></ion-input>
        </ion-item>

        <ion-item class="input-item-filled">
            <ion-input type="text" placeholder="CPF" [(ngModel)]="person.cpf" name="cpf"
                [brmasker]="{mask:'000.000.000-00', len:14}"></ion-input>
        </ion-item>

        <ion-item class="input-item-filled">
            <ion-input type="password" placeholder="Senha" [(ngModel)]="person.password" name="password" maxlength="15">
            </ion-input>
        </ion-item>

        <ion-list radio-group [(ngModel)]="person.is_customer">
            <ion-item>
                <ion-label>
                    <ion-icon name="customer"></ion-icon> Motorista
                </ion-label>
                <ion-radio value="1" checked></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>
                    <ion-icon name="work"></ion-icon> Prestar de serviço
                </ion-label>
                <ion-radio value="0"></ion-radio>
            </ion-item>
        </ion-list>

        <button ion-button class="btn-secondary btn w-100 mt-3" (click)="createUser()">Cadastrar</button>
    </div>
</ion-content>