<div padding class="bg-ligth h-100 main-content">
  <ion-header>
    <button ion-button clear round class="bnt-icon btn-header" (click)="goToRootPage()">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
    <ion-title class="title-primary mt-3 text-center">
    </ion-title>
  </ion-header>
  <div class="main-content">
    <h2 class="text-secondary">Bem vindo</h2>
    <ion-item class="input-item-filled">
      <ion-input type="email" placeholder="E-mail" name="email" [(ngModel)]="person.email"></ion-input>
    </ion-item>
    <ion-item class="input-item-filled">
      <ion-input type="password" placeholder="Senha" [(ngModel)]="person.password" name="password" maxlength="15">
      </ion-input>
    </ion-item>
    <button ion-button class="btn-primary btn w-100 mt-3" (click)="login()">
      Acessar
    </button>
  </div>
</div>